p {
    color: #FFFDFA;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 0.5;
    font-family: Arial;
    text-align: left;
}
h2 { 
    color: #FFFDFA;
    font-family: Arial;
    text-align: center;
}
#Carddiv {
    position: relative;
    width: 350px;
    height: 200px;
    background-color: #ED1B24;  
    border-style: dashed;
    border-width: 2px; 
    border-color: white;
}
#Textdiv {
    float:right;
    height: 75%;
    width: 65%;  
}
#Picturediv {
    float:left;
    height: 75%;
    width: 35%;
}
#Visitor_picture {
    height: 130px;
    width: 100px;
    margin: 15px 0px 0px 5px;
}